<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
	<meta charset="utf-8">
	<title>Time Kulture</title>
	<link rel="stylesheet" href="styles/css/style.css">
	<!-- vendors -->
	<link rel="stylesheet" href="styles/css/vendors/bootstrap/bootstrap.min.css">
</head>

<body>
	<!-- first slide starts here -->
	<div class="first-slide">
		<section class="first-section">
			<div class="img-container">
				<img src="" alt="">
			</div>
			<div class="text-center">
				<h2 class="text-yellow">12 - 22 JULY 2018</h2>
				<p>LEVEL 2 CENTRE COURT PAVILION KUALA LUMPUR</p>
				<a class="btn-tk text-yellow" href="">DISCOVER MORE</a>
			</div>
		</section>
		<hr>
		<section class="second-section text-center">
			<h1 class="text-white">RACE AGAINST TIME</h1>
			<p>Solve the puzzle as fast as you can to be in the running for some amazing prizes
				<br>
				<span class="text-yellow">Be the daily champion and win 1 of 10 daily prizes (RM100 Swiss Watch Gallery cash voucher)</span><br> Or put the pedal to the metal and keep your eye on the grand prizes:
			</p>
			<div class="prizes d-flex justify-content-center">
				<div class="row">
					<div class="prize prize-1 text-center">
						<div class="prize-title">1st Prize</div>
						<h3>RM 2500</h3>
						<div class="prize-desc">Swiss Watch Gallery<br> Cash voucher</div>
					</div>
					<div class="prize prize-1 text-center">
						<div class="prize-title">2nd Prize</div>
						<h3>RM 1500</h3>
						<div class="prize-desc">Swiss Watch Gallery<br> Cash voucher</div>
					</div>
					<div class="prize prize-1 text-center">
						<div class="prize-title">3rd Prize</div>
						<h3>RM 1000</h3>
						<div class="prize-desc">Swiss Watch Gallery<br> Cash voucher</div>
					</div>
				</div>
			</div>
		</section>
		<section class="third-section text-center">
			<hr>
			<h3 class="title text-white">REGISTER NOW</h3>
			<form action="">
				<div class="form-group">
					<input class="form-control" type="text" placeholder="Name">
				</div>
				<div class="form-group">
					<input class="form-control" type="text" placeholder="Email">
				</div>
				<div class="form-group">
					<input class="form-control" type="text" placeholder="Phone Number">
				</div>
				<div class="form-group">
					<select class="form-control" name="" id="">
							<option value="" disabled>Gender</option>
							<option value="">Male</option>
							<option value="">Female</option>
						</select>
				</div>
				<button>REGISTER</button>
			</form>
			<div class="under-form">
				Not your first time? <a href="">Click Here for your next try</a>
				<br>
				<a href="">Terms & Conditions</a>
			</div>
	</div>
	</section>
</body>

</html>
